.BannerSlider .swiper-pagination {
  position: relative; 
  bottom: 0; 
  margin-top: 10px; 
  text-align: center; 
}

.BannerSlider .swiper-pagination-bullet {
  background-color: #000; 
  opacity: 0.7;
}

.BannerSlider .swiper-pagination-bullet-active {
  background-color: #007bff; 
}
